<div class="heroes-table">
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Date</th>
                <th scope="col">Country</th>
                <th scope="col">Company</th>
            </tr>
        </thead>
        <tbody>
            <tr app-hero-item *ngFor="let hero of heroes" [hero]="hero"></tr>
        </tbody>
    </table>
</div>